<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      Hi, I'm Don! I work on flight software for <a href="https://vahana.aero/" target="_blank"> Vahana</a> at <a href="https://airbus-sv.com">A&#179;</a>. <br/>
    <!--
    <div class="row">
          <div class="col-sm-4 col-sm-6">
            <div class="thumbnail">
              <img src="../assets/img/icons/python.png" alt="python">
            </div>
          </div>
          <div class="col-sm-4 col-sm-6">
            <div class="thumbnail">
              <img src="../assets/img/icons/matlab.png" alt="matlab">
            </div>
          </div>
          <div class="col-sm-4 col-sm-6">
            <div class="thumbnail">
              <img src="../assets/img/icons/ros.png" alt="ros">
            </div>
          </div>
          <div class="col-sm-4 col-sm-6">
            <div class="thumbnail">
              <img src="../assets/img/icons/gazebo.jpg" alt="gazebo">
            </div>
          </div>     
        </div>
      -->
    </p>  

  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
