{% capture reading_title_element %}{% if include.reading_title_element %}{{ include.reading_title_element }}{% else %}h2{% endif %}{% endcapture %}
<div class="mxn2 clearfix mb0 py1">
  <div class="col sm-col-2 px1 mb0">
    <a href="{{ include.reading.url }}" target="_blank">
      {% capture image_path %}reading/{{ include.reading.image }}{% endcapture %}
      {% include image.html path=image_path alt=include.reading.name %}
    </a>
  </div>
  <div class="col sm-col-10 px1">
    <a href="{{ include.reading.url }}" target="_blank" name="{{ include.reading.name | downcase | replace:' ','-' | remove:',' }}"><{{ reading_title_element }} class="mt0 mb0">{{ include.reading.name }}</{{ reading_title_element }}></a>
    <a href="{{ include.reading.url }}" target="_blank" class="block h6 mb2">{{ include.reading.url }}</a>
    <p class="left-align" font-size:6px;>{{ include.reading.author }}</p>
  </div>
</div>